.header-contener {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-open {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  border: none;
  background-color: unset;
  position: relative;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-mobel {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  top: 0;
  right: 0;
  position: fixed;
}
.menu-closed {
  position: absolute;
  top: 21px;
  right: 25px;
  border: none;
  background-color: unset;
  transition: color 250ms cubic-bezier(0.23, 0.84, 0.83, 0.67);
  &:hover,
  &:focus {
    fill: #2196f3;
  }
}

.menu-mobel__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--black);
  transition: color 250ms cubic-bezier(0.23, 0.84, 0.83, 0.67);
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.menu-mobel__list {
  padding-top: 48px;
  padding-left: 40px;
}

.mobel__tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.mobel__contact-mail {
  padding-top: 32px;
}

.mobel-pohta {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: #757575;
}

.menu-mobel.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobel__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
  // padding-top: 150px;
}

.mobil-list__seti {
  padding-top: 64px;
  padding-left: 40px;
  display: flex;
}

.menu-mobel__itam {
  // padding-top: 48px;
  // padding-left: 40px;
  padding-bottom: 32px;
}

.mobil-item__seti {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #2196f3;
  &:nth-child(n + 2) {
    padding-left: 13px;
  }
  &:nth-child(-n + 3)::after {
    content: "|";
    margin-left: 10px;
    color: #757575;
  }
  &:hover::after,
  &:focus::after {
    color: #2196f3;
  }
}

.header-content {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  align-items: center;
}

.header-menu {
  display: none;
  @media screen and(min-width:768px) {
    display: block;
    display: flex;
  }
}

.header-right {
  display: none;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    display: flex;
  }
  margin-left: auto;
  align-items: center;
  fill: #757575;
}

.header-mail {
  margin-right: 10px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 14px;
    height: 10px;
  }
}

.header-pohta {
  display: flex;
  text-align: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }

  transition: color 250ms cubic-bezier(0.23, 0.84, 0.83, 0.67);
  &:hover,
  &:focus {
    color: #2196f3;
    fill: #2196f3;
  }
}

.header-mob {
  align-items: center;
  margin-right: 10px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 10px;
    height: 14px;
  }
}

.header-tel {
  display: flex;
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
  transition: color 250ms cubic-bezier(0.23, 0.84, 0.83, 0.67);
  &:hover,
  &:focus {
    color: #2196f3;
    fill: #2196f3;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-contakt > a {
  color: var(--white-grey);
}

.header-contener .header-list + .header-list {
  margin-left: 50px;
}

.header-right .header-contakt + .header-contakt {
  margin-left: 50px;
  @media screen and (min-width: 768px) {
    margin-left: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.header-studio {
  display: block;
  padding-top: 25px;
  padding-bottom: 24px;
  margin-right: 93px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
  /* transform: rotate(90deg); */
}

.header-item {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;

  letter-spacing: 2%;
  padding-top: 25px;
  padding-bottom: 25px;

  color: #212121;
  transition: color 250ms linear;
  &:focus {
    color: #2196f3;
    cursor: pointer;
  }
}

.header-list {
  position: relative;
  &::after {
    content: "";
    display: block;
    border: 1px solid #2196f3;
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 100%;
    border-radius: 4px;
    background-color: #2196f3;
    opacity: 0;
  }
  &:hover::after,
  &:focus::after {
    opacity: 1;
  }
}
