.btn-menu:hover,
.btn-menu:focus {
  color: white;
  background-color: blue;
}

.menu {
  width: 40px;
  height: 40px;
  border: none;
  background-color: unset;
  position: relative;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.hero-vubor {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-menu {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  border: transparent;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.23, 0.84, 0.83, 0.67);
}

.hero-spisok {
  margin-left: 8px;
  @media screen and (min-width: 480px) and (max-width: 510px) {
    &:nth-child(n + 4) {
      padding-top: 8px;
    }
  }
  @media screen and (min-width: 512px) and (max-width: 659px) {
    &:nth-child(n + 5) {
      padding-top: 8px;
    }
  }
}

.hero-menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
