.hero__contener {
  background-color: inherit;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    margin: 0;
    padding: 0;
  }
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  @media screen and(min-width:480px) and (max-width: 767px) {
    margin-left: -1px;
  }
  @media screen and(min-width:768px) and (max-width: 1199px) {
    margin-left: -20px;
  }
}

.hero-text {
  // flex-basis: calc((100% - 3 * 30px) / 3);
  // margin-left: 30px;
  @media screen and(min-width:480px) {
    // margin-left: 30px;
  }
  @media screen and(min-width:768px) and (max-width: 1199px) {
    margin-left: 30px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
  @media screen and(min-width:1200px) {
    margin-left: 30px;
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.hero-h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 30px;

  @media screen and(min-width: 480px) {
    text-align: center;
  }
  @media screen and(min-width: 1200px) {
    text-align: left;
  }
}

.hero-section {
  // margin: 0;
  margin-top: 60px;
  @media screen and(min-width:768px) {
    // margin: 0;
    margin-top: 60px;
  }
}

.hero-list {
  text-align: center;
  width: 450px;
  height: 120px;
  background-color: var(--grey);
  padding-top: 25px;
  padding-bottom: 25px;

  @media screen and(min-width:768px) and (max-width: 1199px) {
    width: 354px;
  }
  @media screen and(min-width:1200px) {
    width: 270px;
    height: 120px;
  }
}

.hero-logo {
  justify-content: center;
  align-items: center;
  margin-right: 102px;
  margin-left: 102px;
}

.hero-item {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 450px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    width: 354px;
  }
  @media screen and(min-width: 1200px) {
    width: 270px;
    height: 75px;
  }
}
